<% @body_id = "homepage" %>
<div class="row">
<div class="col-md-12 col-md-offset-1">
<div class="home-landing-container">
<div class="ribbon-wrapper-green">
    <div class="ribbon-green">HOME</div>
</div>
<h1 class="centered-text ribbon">
  S3 Racing <b>Online</b>
</h1>
<br/>
<div class="introduce form-wrapper centered-text">
	<div class="ibl" align="center">
	    <h3 class="robofont">Future home of the S3 Online Quad Racing Sim Competition</h3>
        <br/>
         <p class="robofont">Check back soon for more info</p>
         <br/>
         <div class="spinner">
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
</div>
</div>
</div>
</div>