//set min width/height for mobile
html {
  height: 100%;
  width: 100%;
  min-height: 600px;
  min-width: 768px;
}

body {
  margin: 0;
    overflow-x:hidden;
  padding-top: 90px;
  background-image: url("black_paper.png");
  background-repeat:repeat;
}

.transparent {
  opacity: 0.25 !important;
}

//robo font
.robofont
{
  font-family: 'Roboto Slab', serif;
}

//make a pretty page appearance shadow effect using css
.shadow
{
}
.shadow:before, .effect8:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.2);
    -moz-box-shadow:0 0 15px rgba(0,0,0,0.4);
    box-shadow:0 0 15px rgba(0,0,0,0.3);
    top:0px;
    bottom:10px;
    left:0px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.shadow:after
{
	right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}

  .uppercase
  {
    text-transform: uppercase;
  }

.spinneron {
  position: absolute;
  display: block;
  top: 100px;
  left: 45%;
}

.spinneroff {
  display: none;
}

.spinner {
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}