.dropdown-menu > li > a {
  cursor: pointer;
}

#homepage .navbar-brand {
    margin-left: 0px !important;
}

#homepage .navbar-right {
    margin-right: -5% !important;
}

.beta {
font-weight: 200;
font-size: 14px;
color: rgb(33, 132, 194);
}